<div id="home"> </div>
<h1 class="uk-alert-danger uk-text-center uk-animation-slide-top uk-animation-slow uk-heading-primary" id="title">MEAL<span
        id="bold">PAL</span> Ratings</h1>

<div class="uk-container ">
    <h2>Add a Meal</h2>

    <form class="uk-form-stacked uk-grid" uk-grid>
        <div class="uk-width-1-3@s">
            <label for="name">Meal Name</label>
            <input class="uk-input" type="text" id="name" name="name" placeholder="Wonton Tofu Salad">
        </div>
        <div class="uk-width-1-3@s">
            <label for="restaurant">Restaurant</label>
            <input class="uk-input" type="text" id="restaurant" name="restaurant" placeholder="Eatsa">
        </div>
        <div class="uk-width-1-6@s">
            <label for="number">Flavor Rating: 1 to 10</label>
            <input class="uk-input" type="number" step="0.1" name="flavor_rating" id="flavor_rating" placeholder="7.5">
        </div>
        <div class="uk-width-1-6@s" id="worth_it">
            <label><input class="uk-radio" type="radio" name="worthit" value="1" checked> Worth-It</label><br>
            <label><input class="uk-radio" type="radio" name="worthit" value="0"> Not Worth-it</label></div>
    </form>
    <button class="uk-button uk-button-danger uk-margin-auto" type="submit" id="create-meal">Add Meal</button>
    <hr class="uk-divider-icon uk-animation-scale-up">
    <div class="uk-flex">

        <div class="uk-card uk-card-body uk-width-1-2">
            <h2 class = "uk-card-title uk-text-center">Meal Rejects!</h2>
            <div uk-scrollspy="target: > h4, div; cls:uk-animation-fade; delay: 200">
                {{#each meals}} {{#unless worth_it}} {{> meal-block worth_it=true}} {{/unless}} {{/each}}
            </div>
        </div>
        <div class="uk-card uk-card-body uk-width-1-2">
            <h2 class = "uk-card-title uk-text-center">Worth-it Winners!</h2>
            <div uk-scrollspy="target: > h4, div; cls:uk-animation-fade; delay: 200">
                {{#each meals}} {{#if worth_it}} {{> meal-block worth_it=false}} {{/if}} {{/each}}
            </div>
        </div>
    </div>
</div>
<footer>
    <h3 class="uk-alert-danger uk-text-center uk-heading-secondary" id="footer" uk-scrollspy="uk-animation-slide-bottom uk-animation-slow "><a href="/api/meals">API Meals</a> | <a href="https://github.com/sajeelmalik/Mealpal-Ratings">Github Repo</a></h3>
</footer>