/* Colors:
EC1C24 - Red
D9E5D6 - Light Gray */

#home{
    position: fixed;    
    background-image: url("./brunch.jpg");
    background-size: cover;
    z-index: -1;
    /* top: -50px; */
    height: 100vh;
    width: 100vw;
    opacity: 0.9;   

}

#landing{
  display: flex;
  background-image: url("./dinner.jpg");
  background-size: cover;
  z-index: -20;
  /* top: -50px; */
  height: 90vh;
  width: 100%;

  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.landing-text{
  color: #D9E5D6 ;
  text-shadow: 0px 0px 10px black;
  margin: 0 0 5px 0;
}

#instructions{
  background-color: rgba(255, 255, 255, 0.98);
  height: 330px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;

}

#instructions-content{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.instructions-list{
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;

  align-items: center;
}

.fas{
  transform: scale(3.3);
  color: #ED1C24;
  text-shadow: 0px 0px 2px rgba(236, 60, 66, 0.55);
  margin-bottom: 40px;
}

#line{
  height: 13px;
  width: 380px;
  background-color:rgba(236, 60, 66, 0.95);
}

.liner{
  height: 8px;
  width: 180px;
  background-color:rgba(236, 60, 66, 0.95);
}

.subtitle{
  margin-top: 15px;
  font-size: 18px;
}

.uk-container{
    background-color: rgba(233, 104, 104, 0.199);
    /* background-color: rgba(217, 229, 214, 0.199); */

    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2{
    color: #F1FBFD;
    transition: 0.4s ease-out;
}

label{
    font-family: 'Raleway', sans-serif;
    color: #ED1C24;
    font-weight: bold;
    background-color:#F1FBFD;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}

.bold{
    font-weight: bold;
}

#worth-it{
  color: rgb(92, 89, 89);
  font-weight: 400;
  /* border-bottom: 5px solid  rgba(236, 60, 66, 0.95); */

}
#title{
  position: relative;
    margin-top: 0px;
    background-color: #ED1C24;
    color: #F1FBFD;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.4) !important;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.4) !important;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4) !important;
    margin-bottom: 0px;
    z-index: 20;
}

h2:hover{
    cursor: crosshair;
}

h2::selection{
    color: #ED1C24;
    background-color:#F1FBFD;
}

.uk-button{
    display: block;
    margin-top: 20px;
    background-color: #ED1C24;
}

.uk-card:hover{
    /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.315); */
    background-color: rgba(255, 255, 255, 0.116);
    transition: .3s ease-in-out;
}

.uk-card:hover > h2 {
    /* background-color: rgba(237, 28, 35, 0.534);
    border-radius: 30px; */
    font-size: 26px;
    text-shadow: 0px 0px 8px #ED1C24;
}

.uk-card h4{
    color: #ED1C24;
    background-color:#F1FBFD;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}

#footer{
    /* margin-top: 20px; */
    padding: 20px 0 20px 0;
    margin-bottom: 0;
    bottom:0;
    background-color: rgb(230, 236, 229);
}

#meal-icon{
  height: 25px;
  width:auto;
  margin: 0 10px 0 10px;
}

#api-links{
  /* font-weight: 400; */
  display: flex;
  justify-content: center;
}

#additional-links{
  /* font-weight: 400; */
  font-family: 'Raleway', sans-serif;
  margin-top: 0px;
  margin-bottom: 0;
}

/* animations */
.promptMeal {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
  }
  
  .promptMeal::after, .promptMeal::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 10px;
    bottom: -2px;
    z-index: -1;
  }
  
  .promptMeal:hover::after, .promptMeal:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: -2px;
  }
  
  #addMeal::before{
    -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: rgb(240, 89, 94);
  }
  
  #addMeal::after {
    /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
    -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: rgb(247, 42, 49);
  }

  
  /* .uk-card-title {
    position: relative;
    display: inline-block;
    transition: color 0.2s ease;
  }
  
  .uk-card-title::after, .uk-card-title::before {
    content: "";
    position: absolute;
    width: 0;
    right: 0;
    height: 10px;
    bottom: -2px;
    z-index: -1;
  }
  
  .uk-card-title:hover::after, .uk-card-title:hover::before {
    display: block;
    width: 100%;
    left: 0;
    bottom: -2px;
  }
  
  .uk-card-title::before{
    -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
    background: rgb(240, 89, 94);
  }
  
  .uk-card-title::after {
    -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
    background: rgb(247, 42, 49);
  } */