#home{
    position: fixed;    
    background-image: url("./brunch.jpg");
    background-size: cover;
    z-index: -1;
    /* top: -50px; */
    height: 100vh;
    width: 100vw;
    opacity: 0.9;   

}
.uk-container{
    background-color: rgba(233, 104, 104, 0.199);
    border-radius: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2{
    color: #F1FBFD;
}

label{
    font-family: 'Raleway', sans-serif;
    color: #ED1C24;
    font-weight: bold;
    background-color:#F1FBFD;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}
#bold{
    font-weight: bold;
}
#title{
    margin-top: 0px;
    background-color: #ED1C24;
    color: #F1FBFD;
}

.uk-button{
    display: block;
    margin-top: 20px;
    background-color: #ED1C24;
}

.uk-card:hover{
    /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.315); */
    background-color: rgba(255, 255, 255, 0.116);
    transition: .3s ease-in-out;
}

.uk-card h4{
    color: #ED1C24;
    background-color:#F1FBFD;
    padding: 1px 5px 1px 5px;
    border-radius: 10px;
}

#footer{
    margin-bottom: 0;
    bottom:0;
}